body{background-color:#B0E0E6;} 

h1{
    color:black;
    font-size: 30px;
    text-align: center;
}

h2{
    color: black;
    font-size: 20px;
    text-align: left;
}

h3{
    color: black;
    font-size: 20px;
    text-align: left;
 
}

h4{
    color: black;
    font-size: 20px;
    text-align: left;
}

h5{
    color: black;
    font-size: 20px;
    text-align: left;
}